.place {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto 100px;
  max-width: 984px;
  margin: auto;
  gap: 16px;
}

.place__name {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 48px;
  max-width: 460px;
}

.place__image {
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 460px;
  width: 100%;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.place__image:hover {
  opacity: 0.6;
}

.place__descriptions {
  grid-column: 2/3;
  grid-row: 2/4;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  max-width: 484px;
}

.place__description {
  margin-bottom: 23px;
  margin-top: 0;
}

.place__frame {
  grid-column: 1/2;
  grid-row: 3/4;
  text-decoration: none;
  color: #ffffff;
  max-width: 289px;
  max-height: 48px;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.place__frame:hover {
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

.place__artist {
  grid-column: 2/3;
  display: flex;
  display: block;
  max-height: 67px;
  margin-top: 148px;
  text-decoration: none;
  max-width: 456px;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.place__artist-span {
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;

  text-transform: uppercase;
  color: #aaaaaa;
  margin-bottom: 8px;
}

.place__artist-info {
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: auto;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .place {
    gap: 28px;
    grid-template-rows: auto auto auto;
  }

  .place__name {
    font-size: 24px;
    max-width: 60px;
    line-height: 1.5;
  }

  .place__frame {
    grid-column: 1;
    grid-row: 3/4;
    font-size: 15px;
    height: 48px;
  }

  .place__artist {
    grid-column: 2;
    grid-row: 1/2;
    margin-top: 35px;
  }

  .place__artist-span {
    font-family: "Inter-Regular", sans-serif;
    font-size: 8px;
  }

  .place__artist-info {
    font-size: 14px;
  }
  .place__descriptions {
    grid-row: 2/5;
    font-size: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .place {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    max-width: 320px;
    gap: 25px;
  }

  .place__name {
    grid-column: 1;
    grid-row: 1;
    font-family: "Inter-Regular", sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 0;
    max-width: 460px;
  }

  .place__artist {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
  }
  .place__image {
    grid-column: 1;
    grid-row: 4;
    max-width: 460px;
    width: 100%;
  }

  .place__descriptions {
    grid-column: 1;
    grid-row: 5/7;
    font-family: "Inter-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 288px;
  }

  .place__frame {
    grid-column: 1;
    grid-row: 7/10;
    text-decoration: none;
    color: #ffffff;
    max-height: 48px;
  }
}
